services:
  auth:
    build: .
    ports:
      - "5001:5001"
    environment:
      PORT: "5001"
      AUTH_DATABASE_URI: "postgresql://appuser:apppass@postgres-db:5432/authdb"
    volumes:
      # - auth_data:/data
      - /Users/snapp/Desktop/projects/Goalixa/data:/data
    restart: unless-stopped

# volumes:
#   auth_data:
