services:
  auth:
    build: .
    ports:
      - "5001:5001"
    environment:
      PORT: "5001"
      AUTH_DATABASE_URI: "${AUTH_DATABASE_URI}"
    env_file:
      - .env
    volumes:
      # - auth_data:/data
      - /Users/snapp/Desktop/projects/Goalixa/data:/data
    restart: unless-stopped

# volumes:
#   auth_data:
