apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auth
  namespace: goalixa-auth
spec:
  ingressClassName: traefik
  rules:
    - host: auth.goalixa.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: auth
                port:
                  number: 80
