apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: ghcr.io/goalixa/auth
    newName: harbor.goalixa.com/goalixa-auth/auth
    newTag: latest  # Change this to specific commit SHA for each deployment
