apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: auth-data
  namespace: goalixa-auth
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
